<div id="graph-fountain">
</div>

<%= javascript_include_tag 'd3.v2.min.js' %>
<%= javascript_include_tag 'graphs/fountain.js' %>

<script>
  $('#graph-fountain').atropaFountain('<%= fountain_graphs_path format: :json %>', {
    width: 640,
    height: 640
  });
</script>
