<div id="graph" class="<%= params[:action] %>">
</div>

<%= javascript_include_tag 'graphs.js' %>

<script>
  $('#graph').atropaGraph('<%= params[:action] %>', '<%= url_for format: :json %>');
</script>
