<ul id="graphs">
  <li>
    <%= link_to 'fishnet', fishnet_graphs_path, class: 'fishnet' %>
  </li>
  <li>
    <%= link_to 'tagmap', tagmap_graphs_path, class: 'tagmap' %>
  </li>
  <li>
    <%= link_to 'fountain', fountain_graphs_path, class: 'fountain' %>
  </li>
</ul>
