<div id="graph-tagmap">
</div>

<%= javascript_include_tag 'd3.v2.min.js' %>
<%= javascript_include_tag 'graphs/tagmap.js' %>

<script>
  $('#graph-tagmap').atropaTagmap('<%= tagmap_graphs_path format: :json %>', {
    width: 640,
    height: 800
  });
</script>
