/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font: normal normal normal 1em/1.6 Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Elements */
a, input[type=submit].button {
  margin: 0;
  padding: 0;
  color: #111;
  background-color: transparent;
  border: 0 none transparent;
  cursor: pointer;
}

a:hover, input[type=submit].button:hover {
  color: #999;
  background-color: transparent;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

iframe {
  margin-top: 12px;
  background-color: #111;
}

h1 {
  font-size: 20px;
}

ul.details li {
  display: inline;
  font-size: 12px;
}

ul.details li:nth-child(n+2):before {
  content: '·';
  padding: 0 4px;
}

input[type=text], input[type=password] {
  width: 100%;
  margin: 0;
  padding: 6px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #c0c0c0;
  outline: 0 none transparent;
  box-sizing: border-box;
}

input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover, input[type=password]:focus {
  color: #111;
  background-color: #fff;
  border-color: #aaa;
}

input[type=submit] {
  padding: 4px 8px;
  font-size: .8em;
  color: #f9f9f9;
  background-color: #555;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit].second-choice {
  background-color: #999;
  border-color: #777;
}

input[type=submit]:hover {
  color: #fff;
  background-color: #222;
  border-color: #000;
}

form p {
  margin: 12px 0;
}

form ul.errors {
  display: inline-block;
  position: relative;
  margin-top: 8px;
  padding: 2px 20px 2px 30px;
  font-size: .7em;
  font-weight: bold;
  color: #111;
  background-color: #f9f9f9;
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  box-shadow: 0 0 2px #b0b0b0;
}

form ul.errors:before, form ul.errors:after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-width: 0;
}

form ul.errors:before {
  left: 12px;
  border-bottom-color: #b0b0b0;
}

form ul.errors:after {
  left: 13px;
  border-width: 7px;
  border-top-width: 0;
  border-bottom-color: #f9f9f9;
}


form ul.errors li {
  padding: 4px 0;
  list-style-type: square;
}

.avatar img {
  background-color: #ddd;
  border-radius: 2px;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333;
  z-index: 999;
}

#header > nav {
  width: 800px;
  margin: 0 auto;
}

#header > nav > ul > li {
  position: relative;
  float: left;
}

#header > nav > ul > li:nth-child(n+3) {
  float: right;
}

#header ul li a, #header nav ul li > div,
#header ul li input[type=submit] {
  display: block;
  padding: 0 10px;
  font-size: 13px;
  line-height: 36px;
  color: #c0c0c0;
  background-color: transparent;
  border: 0 none transparent;
  cursor: pointer;
}

#header ul li a.home {
  width: 14px;
  text-indent: -9999px;
  background: transparent url('/assets/a.png') 10px center no-repeat;
}

#header ul li > div:after {
  content: '▼'
}

#header ul li a:hover, #header nav ul li:hover > div,
#header ul li input[type=submit]:hover {
  color: #fff;
  background-color: #444;
}

#header ul li a.home:hover {
  background-position: -14px center;
}

#header ul li input[type=text] {
  width: 260px;
  margin: 9px 10px;
  padding: 3px 4px 2px 4px;
  font-size: 10px;
  background-color: #fff;
  border: 0 none transparent;
  box-shadow: inset 1px 1px 2px #999;
}

#header ul li nav {
  display: none;
  position: absolute;
  right: 0;
  padding-top: 8px;
}

#header ul li:hover nav {
  display: block;
}

#header ul li nav:before {
  content: ' ';
  position: absolute;
  top: -8px;
  right: 26px;
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #444;
}

#header ul li ul {
  padding: 6px 0;
  background-color: #444;
  border-radius: 2px;
}

#header ul li ul li {
  margin-left: 65px;
}

#header ul li ul li.avatar {
  width: 50px;
  height: 50px;
  float: left;

  margin: 0;
  padding: 5px 0 5px 15px;
}

#header ul li ul li a,
#header ul li ul li input[type=submit] {
  margin: 0;
  padding: 0 20px;
  font-size: 13px;
  line-height: 30px;
}

/* Wrapper */
#wrapper {
  width: 800px;
  margin: 56px auto 0 auto;
}


body.form > #wrapper {
  width: 600px;
}

#content {
  float: left;
  width: 100%;
  margin: 20px 0 50px 0;
}

/* Video list */
ul.video-list > li {
  clear: both;
  height: 78px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 22px;
  background-color: #f5f5f5;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}

ul.video-list li:hover {
  background-color: #fff;
  border-color: #c0c0c0;
}

ul.video-list li div.preview {
  float: left;
  width: 140px;
  height: 78px;
  overflow: hidden;
  background-color: #000;
  border-radius: 2px 0 0 2px;
  opacity: .9;
}

ul.video-list li:hover div.preview {
  opacity: 1;
}

ul.video-list li div.description {
  margin-left: 160px;
  padding: 2px 0;
}

ul.video-list li h2 {
  font-size: 16px;
  line-height: 30px;
}

ul.video-list li h2 input[type=submit] {
  float: right;
  font-size: 14px;
  line-height: 28px;
  margin-right: 12px;
}

ul.video-list li ul.tags li:nth-child(n+2):before {
  content: '/';
  padding: 0 4px;
}

/* User form */
#user-form div.avatar {
  float: left;
  margin: 0 16px 16px 0;
}

#user-form p.api-key {
  font-size: .9em;
}

#user-form p.api-key span {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
  color: #000;
  background-color: #ddd;
}

#user-form p.api-key span:before {
  content: ' ';
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #ddd;
}

#user-form input[type=submit] {
  float: right;
  margin-left: 10px;
}

/* Flash */
div.flash {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  color: #f0f0f0;
  background-color: #666;
  border-radius: 2px;
}

div.flash span.rm {
  float: right;
  cursor: pointer;
}

div.flash span.rm:hover {
  color: #aaa;
}

/* Pagination */
ul.pagination li {
  float: left;
  font-size: .8em;
}

ul.pagination li > * {
  padding: 0 6px;
}

ul.pagination li span {
  color: #999;
}

/* Autocomplete */
ul.ui-autocomplete {
  position: absolute;
  font-size: 13px;
  max-height: 200px;
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  border-top: 0 none transparent;
  overflow-x: hidden;
  overflow-y: auto;
}

ul.ui-autocomplete li a {
  display: block;
  padding: 2px 6px;
}

ul.ui-autocomplete li a:hover,
ul.ui-autocomplete li a.ui-state-hover,
ul.ui-autocomplete li a.ui-state-focus {
  color: #111;
  background-color: #d0d0d0;
}

/* Aether */
#aether {
  width: 300px;
  margin: 200px auto;
}

#aether input[type=submit] {
  float: right;
}
