/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font: normal normal normal .9em/1.6 Helvetica, Arial, sans-serif;
    background-color: #111;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #555;
}

input:-moz-placeholder {
  color: #555;
}

/* Elements */
a {
  color: #555;
}

a:hover {
  color: #ff7916;
}

/* Main */
#wrapper {
  width: 640px;
  margin: 20px auto;
}

#wrapper > header {
  position: relative;
  padding: 30px 0;
}

#wrapper > header h1 a {
  display: block;
  width: 147px;
  height: 41px;
  text-indent: -9999px;
  background: transparent url('/assets/atropa.png') left top no-repeat;
}

#tools {
  float: right;
  margin-top: 4px;
  background-color: #222;
  border-radius: 2px;
  z-index: 9999;
}

#tools > li {
  float: left;
}

#tools > li > * {
  display: block;
  padding: 0 10px;
  line-height: 32px;
  font-size: 14px;
}

#tools div.sub-link {
  position: relative;
  color: #555;
  cursor: default;
}

#tools div.sub-link:before, #tools div.sub-link:after {
  content: ' ';
  display: none;
  position: absolute;
  bottom: -12px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  z-index: 100;
}

#tools div.sub-link:before {
  margin-left: -1px;
  border-width: 12px;
  border-top-width: 0;
  border-bottom-color: #383838;
}

#tools div.sub-link:after {
  border-width: 11px;
  border-top-width: 0;
  border-bottom-color: #222;
}

#tools li:hover div.sub-link {
  color: #ff7916;
}

#tools li:hover div.sub-link:before,
#tools li:hover div.sub-link:after {
  display: block;
}

#tools input[type=text] {
  width: 160px;
  height: 16px;
  padding: 2px 6px;
  font-size: 13px;
  color: #555;
  background-color: #111;
  border: 1px solid #222;
  border-radius: 2px;
  -webkit-transition: width .4s, background-color .4s;
  -moz-transition: width .4s, background-color .4s;
  -o-transition: width .4s, background-color .4s;
  -ms-transition: width .4s, background-color .4s;
  transition: width .4s, background-color .4s;
}

#tools input[type=text].empty {
  width: 2px;
  background: transparent url('/assets/search.png') -14px center no-repeat;
  cursor: pointer;
}

#tools input[type=text].empty:hover {
  background-position: left center;
}

#tools input[type=text]:focus {
  color: #aaa;
  border-color: #2c2c2c;
}

#tools div.sub {
  display: none;
  position: absolute;
  right: 0;
  padding: 11px 0 0 0;
  z-index: 99;
}

#tools li:hover div.sub {
  display: block;
}

#tools div.sub > div {
  float: left;
  padding: 10px;
  background-color: #222;
  border: 1px solid #383838;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(46, 46, 46, .8);
}

#tools div.sub ul.tags {
  float: left;
  margin: 0 10px;
  line-height: 20px;
  font-size: 13px;
}

#tools div.sub ul.tags li.cur a {
  color: #ff7916;
}

/* Videos */
article {
  float: left;
  clear: both;
  width: 100%;
  margin: 30px 0;
}

article:first-child {
  margin-top: 0;
}

div.video {
  position: relative;
}

div.video div.preview img, div.video iframe {
  vertical-align: bottom;
}

div.video div.player, div.video a.play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.video a.play {
  font-size: 100px;
  text-align: center;
  line-height: 300px;
  color: #ff7916;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  -ms-transition: color .4s;
  transition: color .4s;
}

div.video a.play:hover {
  color: #111;
}

article footer {
  padding-top: 10px;
}

article footer ul.links li {
  float: right;
  margin-left: 8px;
}

article footer ul.tags li {
  float: left;
}

article footer ul.tags li:nth-child(n+2):before {
  content: '/';
  margin: 0 6px 0 10px;
  color: #555;
}

/* Pagination */
ul.pagination {
  float: left;
  width: 100%;
  margin: 0 0 50px -6px;
}

ul.pagination li {
  float: left;
}

ul.pagination li > * {
  padding: 6px;
}

ul.pagination li span {
  color: #ff7916;
}

ul.pagination li span.gap {
  color: #555;
}
